# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

# IDE
.vscode/
.idea/

# AWS
.aws/

# OS
.DS_Store

# Environment
.env
*.pem
*.key

# Logs
*.log
